PORT=3000
MONGO_URI=mongodb://YOUR_USERNAME:YOUR_PASSWORD@HOST_1.mongodb.net:27017,HOST_2.mongodb.net:27017,HOST_3.mongodb.net:27017/express_mvc_crud?ssl=true&authSource=admin&replicaSet=YOUR_REPLICA_SET&appName=YOUR_APP_NAME
